<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss} %-5.-5level %6.6thread %-20.-20logger{0} | %msg%n</pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--<logger name="de.danielscholz.fileSyncrsistence.common.Database" level="TRACE" />-->
    <!--<logger name="de.danielscholz.fileSynctions.IndexFiles" level="TRACE" />-->
    <!--<logger name="de.danielscholz.fileSynctions.BackupFiles" level="TRACE" />-->

</configuration>